- name: Download repositories keys.
  apt_key:
    url: '{{ item.key }}'
  loop: '{{ apt_repositories }}'
  become: yes

- name: Enable repositories.
  apt_repository:
    repo: '{{ item.repository }}'
  loop: '{{ apt_repositories }}'
  become: yes

- name: Update packages.
  apt: 
    name: '*'
    state: latest
    update_cache: yes
  become: yes

- name: Install packages.
  apt: 
    name: '{{ item }}' 
    state: latest 
    update_cache: yes
  loop: '{{ packages }}'
  become: yes