- name: Check ambassador not installed.
  command: kubectl get svc -n ambassador ambassador
  changed_when: False
  register: check_ambassador
  ignore_errors: yes

- name: Install ambassador.
  shell:  >-
    kubectl apply -f https://www.getambassador.io/yaml/aes-crds.yaml && 
    kubectl wait --for condition=established --timeout=120s crd -lproduct=aes && 
    kubectl apply -f https://www.getambassador.io/yaml/aes.yaml && 
    kubectl -n ambassador wait --for condition=available --timeout=90s deploy -lproduct=aes
  when: check_ambassador.rc != 0

- name: Copy ambassador-service.yml
  copy:
    src: ambassador-service.yml
    dest: ambassador-service.yml
  notify: apply ambassador service