/*
\#*
*\#
*~
password
.vagrant
*.log
!/aw
!/ca
!/edge
!/jenkins
!/kubernetes
!/nexus
!/roles
!/.gitignore
!/playbook.yml
!/Vagrantfile
!/vagrant-inventory.yaml
!/aws-inventory.py
!/infrastructure.drawios
