---
- hosts: kubernetes-master
  roles:
  - role: dns
  tags: dns

- hosts: kubernetes-master
  roles:
  - role: edge
  tags: edge

- hosts: kubernetes-master
  roles:
  - role: kubernetes-base
  - role: kubernetes-master
  tags:
  - kubernetes
  - kubernetes-master

- hosts: kubernetes-worker
  roles:
  - role: kubernetes-base
  - role: kubernetes-worker
  tags:
  - kubernetes
  - kubernetes-master

- hosts: kubernetes-master
  roles:
  - role: kubernetes-istio
  tags:
  - kubernetes
  - kubernetes-istio

- hosts: kubernetes-master
  roles:
  - role: kubernetes-ambassador
  tags:
  - kubernetes
  - kubernetes-ambassador