---
- hosts: kubernetes-master
  roles:
  - role: dns
  tags: dns

- hosts: kubernetes-master
  roles:
  - role: kubernetes-base
  - role: kubernetes-master
  tags: kubernetes

- hosts: kubernetes-worker
  roles:
  - role: kubernetes-base
  - role: kubernetes-worker
  tags: kubernetes

- hosts: kubernetes-master
  roles:
  - role: kubernetes-istio
  - role: kubernetes-ambassador
  tags: kubernetes