---
- name: install istio
  command:
    cmd: ./istioctl install --set profile=demo -y
    chdir: istio-{{ istio_version }}/bin
  notify: label namespace
  register: result
  until: result.rc == 0
  retries: 2
  delay: 1
  ignore_errors: yes

- name: label namespace
  shell: kubectl label ns default istio-injection=enabled
  changed_when: False
