---
- hosts: all
  become: true
  tasks:

  - name: Install packages that allow apt to be used over HTTPS
    apt:
      name: "{{ packages }}"
      state: present
      update_cache: yes
    vars:
      packages:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common 
      - gnupg2
      - net-tools

  - name: Add an apt signing key for Docker
    apt_key:
      url: https://download.docker.com/linux/ubuntu/gpg
      state: present

  - name: Add apt repository for stable version
    apt_repository:
      repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu xenial stable
      state: present

  - name: Install docker and its dependecies
    apt: 
      name: "{{ packages }}"
      state: present
      update_cache: yes
    vars:
      packages:
      - containerd.io=1.2.13-2
      - docker-ce=5:19.03.11~3-0~ubuntu-xenial
      - docker-ce-cli=5:19.03.11~3-0~ubuntu-xenial
    notify:
      - docker status

  - name: 'Add {{ ansible_user }} user to docker group'
    user:
      name: '{{ ansible_user }}'
      group: docker

  - name: Remove swapfile from /etc/fstab
    mount:
      name: "{{ item }}"
      fstype: swap
      state: absent
    with_items:
      - swap
      - none

  - name: Disable swap
    command: swapoff -a
    when: ansible_swaptotal_mb > 0

  - name: Add an apt signing key for Kubernetes
    apt_key:
      url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
      state: present

  - name: Adding apt repository for Kubernetes
    apt_repository:
      repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
      state: present
      filename: kubernetes.list

  - name: Install Kubernetes binaries
    apt: 
      name: "{{ packages }}"
      state: present
      update_cache: yes
    vars:
      packages:
        - kubelet=1.18.0-00
        - kubeadm=1.18.0-00
        - kubectl=1.18.0-00

  - name: Configure kubelet
    lineinfile:
      line: 'Environment="KUBELET_EXTRA_ARGS=--node-ip={{ node_ip }}"'
      path: /etc/systemd/system/kubelet.service.d/10-kubeadm.conf

  - name: Check kubernetes wasn't initialized.
    shell: kubectl cluster-info
    register: output
    ignore_errors: yes
    changed_when: false
    become: false

  - name: Initialize the Kubernetes cluster using kubeadm
    command: >- 
      kubeadm init --apiserver-advertise-address="{{ node_ip }}" 
      --apiserver-cert-extra-sans="{{ node_ip }}" 
      --pod-network-cidr=172.16.0.0/16
    when: '"is running at" not in output.stdout'
    notify: 
    - generate join command
    - fetch join command
    - fetch admin kubeconfig
      

  - name: Create kube directory
    file:
      path: '/home/{{ ansible_user }}/.kube'
      state: directory

  - name: 'Setup kubeconfig for {{ ansible_user }} user'
    copy: 
      remote_src: yes
      src: /etc/kubernetes/admin.conf
      dest: '/home/{{ ansible_user }}/.kube/config'

  - name: 'Change owner of kubeconfig for {{ ansible_user }} user'
    file:
      path: '/home/{{ ansible_user }}/.kube/config'
      owner: '{{ ansible_user }}'
      group: '{{ ansible_user }}'

  - name: Disable IP tables
    sysctl:
      name: net.bridge.bridge-nf-call-iptables
      value: '1'
      sysctl_set: yes

  - name: Enable forwarding.
    sysctl:
      name: net.ipv4.ip_forward
      value: '1'
      sysctl_set: yes

  - name: Download foo.conf
    get_url:
      url: https://docs.projectcalico.org/v3.15/manifests/calico.yaml
      dest: '/home/{{ ansible_user }}/calico.yaml'

  - name: Add pod config to calico.yaml
    lineinfile:
      dest: '/home/{{ ansible_user }}/calico.yaml'
      regexp: '^\s{12}#\s*- name: CALICO_IPV4POOL_CIDR.*$'
      line: '            - name: CALICO_IPV4POOL_CIDR'

  - name: Add pod config to calico.yaml
    lineinfile:
      dest: '/home/{{ ansible_user }}/calico.yaml'
      regexp: '^\s{12}#\s*  value: "192.168.0.0\/16".*$'
      line: '              value: "172.16.0.0/16"'

  - name: Apply calico CNI
    command: kubectl apply -f calico.yaml
    become: no
    register: output
    changed_when: >- 
      output.stdout_lines | 
      reject('match', '^customresourcedefinition.apiextensions.k8s.io.*configured$') | 
      reject('match', 'daemonset.apps/calico-node configured') |
      select('match', '^.*(configured|created)$') | length > 0

  handlers:
  - name: docker status
    service: name=docker state=started

  - name: generate join command
    shell: kubeadm token create --print-join-command > ./join-command

  - name: fetch join command
    fetch: src=join-command dest=join-command

  - name: fetch admin kubeconfig
    fetch: src=.kube/config dest=kubeconfig
