- name: Copy .aws content.
  copy:
    src: .aws
    dest: ~/
    mode: '700'
- name: Install aws cli.
  uri:
    url: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
    dest: ~/awscliv2.zip
    follow_redirects: 'yes'
    status_code: [200, 304]

- name: Unarchive awscli archive.
  unarchive:
    src: ~/awscliv2.zip
    dest: ./
    remote_src: yes
  notify: install aws cli
- name: Make directory for aws ssh keys.
  file:
    path: ~/.ssh/aws
    state: directory
    mode: '700'
- name: Copy aws private key.
  copy:
    src: belenot.pem
    dest: ~/.ssh/aws/