---
- name: restart meetup-backend
  service:
    name: meetup-backend
    state: restarted
  become: true

- name: restart nginx
  service:
    name: nginx
    state: restarted
  become: true

- name: restart meetup-database
  service:
    name: meetup-database
    state: restarted
  become: true
