---
- name: Copy the join command to server location
  copy: 
    src: join-command/{{ master_public_ip }}/join-command 
    dest: join-command.sh 
    mode: '0777'
  ignore_errors: yes
  notify: join the node to cluster