---
- name: Check istio-release.sh exists.
  stat:
    path: istio-{{ istio_version }}/bin/istioctl
  register: stat_output

- name: Download istio release.
  shell: 'curl -L https://istio.io/downloadIstio | ISTIO_VERSION={{ istio_version }} sh - '
  when: not stat_output.stat.exists
  notify:
  - install istio