[Unit]
Description=Meetup Database Server
[Service]
ExecStart=docker start meetup-postgres
Restart=always
RestartSec=5
KillMode=mixed
SyslogIdentifier=envoy
LimitNOFILE=640000
[Install]
WantedBy=multi-user.target
Required=docker.service