- name: Add proxy repository key to apt.
  apt_key:
    url: 'https://www.getenvoy.io/gpg'
  become: yes

- name: Add proxy apt repository.
  apt_repository:
    repo: deb [arch=amd64] https://dl.bintray.com/tetrate/getenvoy-deb {{ ansible_distribution_release }} stable
  become: yes

- name: Apt update/upgrade.
  apt:
    update_cache: yes
    name: '*'
    state: present
  become: yes

- name: Install proxy.
  apt:
    name: getenvoy-envoy
  become: yes
  notify: restart envoy

- name: Create /etc/envoy directory.
  file:
    path: /etc/envoy
    state: directory
  become: yes

- name: Copy envoy.yaml to /etc/envoy/envoy.yaml.
  copy:
    src: envoy.yaml
    dest: /etc/envoy/envoy.yaml
  become: yes
  notify: restart envoy

- name: Create /var/log/envoy directory.
  file:
    path: /var/log/envoy
    state: directory
  become: yes

- name: Create /var/log/envoy/access.log file.
  file:
    path: /var/log/envoy/access.log
    state: touch
  become: yes

- name: Copy envoy.service to /etc/systemd/system
  copy:
    src: envoy.service
    dest: /etc/systemd/system
    mode: '754'
  become: yes
  notify: restart envoy

- name: Create directories for pki in /etc/envoy/pki directory.
  file:
    state: directory
    path: /etc/envoy/pki/{{ item }}
    recurse: yes
  loop: [ belenot.com, alpha ]
  become: yes

- name: Copy alpha certificates.
  copy:
    src: '{{ item }}'
    dest: /etc/envoy/pki/alpha/{{ item }}
  loop: [ edge-cert.pem, edge-key.pem, ca-cert.pem ]
  become: yes

- name: Get certificate via ACME for belenot.com tasks.
  include_tasks:
    file: acme-certificate.yml
  when: not ignore_acme

- name: Get self-signed local certs for belenot.com tasks.
  include_tasks:
    file: local-certificate.yml
  when: ignore_acme

- name: Service envoy.
  service:
    name: envoy
    state: started
    enabled: yes
  become: yes
