- name: Update packages.
  apt:
    name: '*'
    state: latest
    update_cache: yes
  become: yes

- name: Install bind9.
  apt:
    name: bind9
    state: latest
  become: yes

- name: Template db.alpha.belenot.com to /etc/bind.
  template:
    src: db.alpha.belenot.com
    dest: /etc/bind/db.alpha.belenot.com
  become: yes
  notify: restart bind

- name: Copy named.conf.alpha to /etc/bind.
  copy:
    src: named.conf.alpha
    dest: /etc/bind/named.conf.alpha
  become: yes
  notify: restart bind

- name: Add named.conf.alpha to /etc/bind/named.conf
  lineinfile:
    path: /etc/bind/named.conf
    line: include "/etc/bind/named.conf.alpha";
  become: yes
  notify: restart bind

- name: Template resolv.conf to /etc/resolv.conf.
  template:
    dest: /etc/resolv.conf
    src: resolv.conf 
  become: yes
  when: role_name != 'dns' and set_nameserver

- name: Replace default named.conf.options.
  copy:
    src: named.conf.options
    dest: /etc/bind/named.conf.options
  become: yes
  notify: restart bind