[Unit]
Description=Website Belenot.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ ansible_user }}
ExecStart=/usr/bin/java -jar /home/{{ ansible_user }}/website/build/libs/website-all.jar
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Website

[Install]
WantedBy=multi-user.target