- name: Get lsb_release
  command: lsb_release -cs
  register: lsb_release
  changed_when: False

- name: Change permissions on ~/.ssh folder.
  file:
    path: ~/.ssh
    mode: '700'

- name: Install git private key.
  copy: 
    src: git_private_key
    dest: ~/.ssh/id_rsa
    mode: '600'

- name: Fetch infrastructure git repository.
  git:
    repo: '{{ git_infrastructure_url }}'
    dest: ~/infrastructure
    force: no
    accept_hostkey: yes

- name: Copy .aws content.
  copy:
    src: .aws
    dest: ~/
    mode: '700'

- name: Install aws cli.
  uri:
    url: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
    dest: ~/awscliv2.zip
    follow_redirects: 'yes'
    status_code: [200, 304]

- name: Unarchive awscli archive.
  unarchive:
    src: ~/awscliv2.zip
    dest: ~/
    remote_src: yes
    creates: ~/aws
  notify: install aws cli

- name: Make directory for aws ssh keys.
  file:
    path: ~/.ssh/aws
    state: directory
    mode: '700'

- name: Copy aws private key.
  copy:
    src: belenot.pem
    dest: ~/.ssh/aws/
    mode: '600'

- name: Change escape character for GNU screen.
  lineinfile:
    create: yes
    line: escape ^\\\
    path: ~/.screenrc
    regexp: ^escape .*$
    mode: '664'

- name: Create ~/.kube directory.
  file:
    path: ~/.kube
    state: directory

- name: Copy kubeconfig to ~/.kube/config.
  copy:
    src: kubeconfig
    dest: ~/.kube/config

- name: Download golang archive.
  unarchive:
    src: https://golang.org/dl/go1.15.6.linux-amd64.tar.gz
    dest: /usr/local
    remote_src: yes
  become: yes

- name: Set PATH for golang.
  lineinfile:
    path: /etc/profile.d/go.sh
    line: PATH=$PATH:/usr/local/go/bin
    create: yes
  become: yes