---
dependencies:
  - role: base
    vars:
      packages:
      - python3
      - python3-pip
      - build-essential
      - libssl-dev
      - libffi-dev
      - python3-dev
      pip_packages:
      - cryptography