- hosts: localhost
  vars:
    apt_repositories:
    - key: https://download.docker.com/linux/ubuntu/gpg
      repository: deb https://download.docker.com/linux/ubuntu lsb_release stable
    git_private_key: '{{ lookup(''file'', ''git_private_key'') }}'
    git_infrastructure_url: git@github.com:belenot/infrastructure.git
    packages:
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg-agent
    - software-properties-common
    - emacs
    - screen
    - python3-pip
    - git
    extra_packages:
    - docker-ce
    - docker-ce-cli
    - containerd.io
  tasks:

  - name: Get lsb_release
    command: lsb_release -cs
    register: lsb_release
    changed_when: False

  - name: Print lsb_release.
    debug: 'msg={{ lsb_release.stdout }}'

  - name: Update packages.
    apt: 'name=* state=latest update_cache=yes'
    become: yes

  - name: Install packages.
    apt: 'name={{ item }} state=latest update_cache=yes'
    loop: '{{ packages }}'
    become: yes

  - name: Install ansible.
    pip: name=ansible
    become: yes

  - name: Change escape character for GNU screen..
    lineinfile:
      create: yes
      line: escape ^\\\
      path: ~/.screenrc
      regexp: ^escape .*$
      mode: '664'

  - name: Download repositories keys.
    apt_key: 'url={{ item.key }}'
    loop: '{{ apt_repositories }}'
    become: yes

  - name: Enable repositories.
    apt_repository:
      repo: '{{ item.repository.replace("lsb_release", lsb_release.stdout) }}'
    loop: '{{ apt_repositories }}'
    become: yes

  - name: Install extra packages.
    apt: 'name={{ item }} state=latest update_cache=yes'
    loop: '{{ extra_packages }}'
    become: yes

  - name: Install git private key.
    copy: 'content={{ git_private_key }} dest=''~/.ssh/id_rsa'' mode=''600'''

  - name: Fetch infrastructure git repository.
    git:
      repo: '{{ git_infrastructure_url }}'
      dest: ~/infrastructure
      force: no