---
- name: Install required python packages.
  pip:
    name: '{{ item }}'
  loop: [ lxml ]

- name: Ensure directory website exists.
  file:
    path: website/
    state: directory

- name: Download website artifact from maven repository.
  maven_artifact:
    repository_url: http://nexus.alpha.belenot.com:8081/repository/maven-snapshots/
    group_id: com.belenot.website
    artifact_id: website
    dest: website/website.jar
    extension: jar
    validate_certs: no
    username: '{{ maven_repo_username }}'
    password: '{{ maven_repo_password }}'
    
- name: Template website.service to /etc/systemd/system.
  template:
    src: website.service
    dest: /etc/systemd/system/
  become: yes
  notify: restart website

- name: Start UI.
  service:
    name: website
    state: started
    enabled: yes
  become: yes
