---
- name: Install git private key.
  copy: 
    src: git_private_key
    dest: ~/.ssh/id_rsa
    mode: '600'

- name: Fetch git repository.
  git:
    repo: '{{ git_website_url }}'
    dest: ~/website
    force: yes
    accept_hostkey: yes
  notify: restart website

- name: Install npm dependencies.
  # NPM Ansible Modules doesn't install dev dependencies.
  # npm:
  #   path: ~/website
  command:
    cmd: npm install
    chdir: ~/website
  changed_when: false

- name: Install webpack cli.
  command: npm install -D webpack-cli webpack

- name: Gradle Build.
  command:
    cmd: ./gradlew shadowJar --no-daemon
    chdir: ~/website
    
- name: Template website.service to /etc/systemd/system.
  template:
    src: website.service
    dest: /etc/systemd/system/
  become: yes
  notify: restart website

- name: Start UI.
  service:
    name: website
    state: started
    enabled: yes
  become: yes
