---
- name: Install git private key.
  copy: 
    src: git_private_key
    dest: ~/.ssh/id_rsa
    mode: '600'

- name: Fetch infrastructure git repository.
  git:
    repo: '{{ git_ui_url }}'
    dest: ~/ui
    force: yes
    accept_hostkey: yes

- name: Install forever npm package.
  npm:
    name: forever
    global: yes
    state: latest
  become: yes

- name: Install npm dependencies.
  npm:
    path: ~/ui

- name: Install webpack cli.
  command: npm install -D webpack-cli webpack

- name: Webpack Build.
  command:
    cmd: npx webpack
    chdir: ~/ui

- name: Copy dist to public.
  copy:
    remote_src: yes
    src: ~/ui/dist
    dest: ~/ui/public/
    
- name: Check list of running Node.js apps.
  command: forever list
  register: forever_list
  changed_when: false

- name: Start website app.
  command: forever start ~/ui/index.js
  when: forever_list.stdout.find('ui/index.js') == -1