---
- name: Install git private key.
  copy: 
    src: git_private_key
    dest: ~/.ssh/id_rsa
    mode: '600'

- name: Fetch git repository.
  git:
    repo: '{{ git_ui_url }}'
    dest: ~/ui
    force: yes
    accept_hostkey: yes
  notify: restart ui

- name: Install npm dependencies.
  # NPM Ansible Modules doesn't install dev dependencies.
  # npm:
  #   path: ~/ui
  command:
    cmd: npm install
    chdir: ~/ui
  changed_when: false

- name: Install webpack cli.
  command: npm install -D webpack-cli webpack

- name: Webpack Build.
  command:
    cmd: npm run-script build
    chdir: ~/ui

- name: Copy dist to public.
  copy:
    remote_src: yes
    src: ~/ui/dist
    dest: ~/ui/public/
    
- name: Template ui.service to /etc/systemd/system.
  template:
    src: ui.service
    dest: /etc/systemd/system/
  become: yes
  notify: restart ui

- name: Start UI.
  service:
    name: ui
    state: started
    enabled: yes
  become: yes
