- name: Install the gpg key for nodejs LTS
  apt_key:
    url: "https://deb.nodesource.com/gpgkey/nodesource.gpg.key"
    state: present
  become: true

- name: Install the nodejs LTS repos
  apt_repository:
    repo: "deb {{nodejs_repo}} {{ ansible_distribution_release }} main"
    state: present
    update_cache: yes
  become: true

- name: Install the nodejs
  apt:
    name: nodejs
    state: present
  become: true