---
dependencies:
  - role: base
    vars:
      apt_repositories:
      - key: https://www.postgresql.org/media/keys/ACCC4CF8.asc
        repository: deb http://apt.postgresql.org/pub/repos/apt {{ ansible_distribution_release }}-pgdg main
      packages:
      - apt-transport-https
      - ca-certificates
      - curl
      - acl
      - gnupg-agent
      - software-properties-common
      - emacs
      - screen
      - zip
      - unzip
      - jq
      - postgresql-12
      - python3-pip
      - libpq-dev
      - python-dev
      - python-setuptools