---
- name: Create /etc/kubernetes/pki directory.
  file:
    path: /etc/kubernetes/pki
    state: directory
  become: yes

- name: Copy CA to /etc/kubernetes/pki/ca.crt.
  copy:
    src: ca/ca-cert.pem
    dest: /etc/kubernetes/pki/ca.crt
    mode: '644'
  become: yes

- name: Copy CA key to /etc/kubernetes/pki/ca.key.
  copy:
    src: ca/ca-key.pem
    dest: /etc/kubernetes/pki/ca.key
    mode: '600'
  become: yes

- name: Check kubernetes wasn't initialized.
  shell: kubectl cluster-info
  register: output
  ignore_errors: yes
  changed_when: false

- name: Initialize the Kubernetes cluster using kubeadm
  command: >- 
    kubeadm init --apiserver-advertise-address="{{ node_ip }}" 
    --apiserver-cert-extra-sans="{{ node_ip }},node-0.k8s.alpha.belenot.com"
    --pod-network-cidr=172.16.0.0/16
  when: '"is running at" not in output.stdout'
  notify: 
  - generate join command
  - fetch join command
  - fetch admin kubeconfig
  become: yes
    
- name: Create kube directory
  file:
    path: '/home/{{ ansible_user }}/.kube'
    state: directory

- name: 'Setup kubeconfig for {{ ansible_user }} user'
  copy: 
    remote_src: yes
    src: /etc/kubernetes/admin.conf
    dest: '/home/{{ ansible_user }}/.kube/config'
  become: yes

- name: 'Change owner of kubeconfig for {{ ansible_user }} user'
  file:
    path: '/home/{{ ansible_user }}/.kube/config'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
  become: yes

- name: Download foo.conf
  get_url:
    url: https://docs.projectcalico.org/v3.15/manifests/calico.yaml
    dest: '/home/{{ ansible_user }}/calico.yaml'

- name: Add pod config to calico.yaml
  lineinfile:
    dest: '/home/{{ ansible_user }}/calico.yaml'
    regexp: '^\s{12}#\s*- name: CALICO_IPV4POOL_CIDR.*$'
    line: '            - name: CALICO_IPV4POOL_CIDR'

- name: Add pod config to calico.yaml
  lineinfile:
    dest: '/home/{{ ansible_user }}/calico.yaml'
    regexp: '^\s{12}#\s*  value: "192.168.0.0\/16".*$'
    line: '              value: "172.16.0.0/16"'

- name: Apply calico CNI
  command: kubectl apply -f calico.yaml
  become: no
  register: output
  changed_when: >-
    output.stdout_lines | 
    reject('match', '^customresourcedefinition.apiextensions.k8s.io.*configured$') | 
    reject('match', 'daemonset.apps/calico-node configured') |
    select('match', '^.*(configured|created)$') | length > 0

- name: Copy external-user RBAC.
  copy:
    src: external-user.yaml
    dest: external-user.yaml
  notify: apply external-user rbac

