---
- hosts: all
  vars:
    openresty_key_url: https://openresty.org/package/pubkey.gpg
  tasks:

  - name: Apt update/upgrade.
    apt:
      update_cache: yes
      name: '*'
      state: present
    become: yes

  - name: Add openresty repository key to apt.
    apt_key:
      url: '{{ openresty_key_url }}'
    become: yes

  - name: Add openresty apt repository.
    apt_repository:
      repo: deb http://openresty.org/package/ubuntu {{ ansible_distribution_release }} main
    become: yes

  - name: Install openresty.
    apt:
      name: openresty
    become: yes

  - name: Add certificate.
    copy:
      src: 'local-edge-cert.pem'
      dest: '/usr/local/openresty/nginx/conf/cert.pem'
    become: yes
    notify: openresty service

  - name: Add certificate private key.
    copy:
      src: 'edge-key.pem'
      dest: '/usr/local/openresty/nginx/conf/cert.key'
    become: yes
    notify: openresty service

  - name: Add nginx.conf.
    copy:
      src: nginx.conf
      dest: /etc/openresty/nginx.conf
    become: yes
    notify: openresty service

  handlers:

  - name: openresty service
    service:
      name: openresty
      state: restarted
    become: yes