---
apt_repositories:
- key: https://www.postgresql.org/media/keys/ACCC4CF8.asc
  repository: deb http://apt.postgresql.org/pub/repos/apt {{ ansible_distribution_release }}-pgdg main
packages:
- postgresql-12
- apt-transport-https
- ca-certificates
- curl
- gnupg-agent
- software-properties-common
- emacs
- screen
- zip
- unzip
- jq
