- name: Disable resolvconf service.
  service:
    name: resolvconf
    state: stopped
    enabled: no
  become: yes
  when: set_nameserver

- name: Template resolv.conf to /etc/resolv.conf.
  template:
    dest: /etc/resolv.conf
    src: resolv.conf 
  become: yes
  when: role_name != 'dns' and set_nameserver
