- name: Check resolvconf service exists.
  command: systemctl status resolvconf
  register: resolvconf_service
  failed_when: false
  changed_when: false

- name: Disable resolvconf service.
  service:
    name: resolvconf
    state: stopped
    enabled: no
  become: yes
  when: set_nameserver and resolvconf_service.rc != 4

- name: Check systemd-resolved service exists.
  command: systemctl status systemd-resolved
  register: systemd_resolved_service
  failed_when: false
  changed_when: false

- name: Disable systemd-resolved service.
  service:
    name: systemd-resolved
    state: stopped
    enabled: no
  become: yes
  when: set_nameserver and systemd_resolved_service.rc != 4

- name: Template resolv.conf to /etc/resolv.conf
  template:
    src: resolv.conf
    dest: /etc/resolv.conf
  become: yes

- name: Set environment.
  lineinfile:
    path: /etc/environment
    line: LC_ALL=C
  become: yes

- name: Download repositories keys.
  apt_key:
    url: '{{ item.key }}'
  loop: '{{ apt_repositories }}'
  become: yes

- name: Enable repositories.
  apt_repository:
    #    repo: '{{ item.repository.replace("lsb_release", lsb_release.stdout) }}'
    repo: '{{ item.repository }}'
  loop: '{{ apt_repositories }}'
  become: yes

- name: Update cache.
  apt:
    update_cache: yes
  become: yes

- name: Install packages.
  apt: 
    name: '{{ item }}' 
    state: latest 
    update_cache: yes
  loop: '{{ packages }}'
  become: yes