static_resources:
  listeners:
#  - name: kubernetes_api_server
#    address:
#      socket_address:
#        address: 0.0.0.0
#        port_value: 6443
#    filter_chains:
#    - filters:
#      - name: envoy.filters.network.tcp_proxy
#        typed_config:
#          "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
#          stat_prefix: kubernetes_api_server
#          access_log:
#          - name: envoy.access_loggers.file
#            typed_config:
#              "@type": type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog
#              path: /var/log/envoy/access.log
#          cluster: kubernetes_api_server
  - name: kubernetes_ambassador_http
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 80
    filter_chains:
    - filters:
      - name: envoy.filters.network.tcp_proxy
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
          stat_prefix: kubernetes_ambassador_http
          access_log:
          - name: envoy.access_loggers.file
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog
              path: /var/log/envoy/access.log
          cluster: kubernetes_ambassador_http
  - name: kubernetes_ambassador_https
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 443
    filter_chains:
    - filters:
      - name: envoy.filters.network.tcp_proxy
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
          stat_prefix: kubernetes_ambassador_https
          access_log:
          - name: envoy.access_loggers.file
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog
              path: /var/log/envoy/access.log
          cluster: kubernetes_ambassador_https
      transport_socket:
        name: envoy.transport_sockets.tls
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
          common_tls_context:
            validation_context: {}
            tls_certificates:
            - certificate_chain:
                filename: /etc/envoy/pki/alpha/edge-cert.pem
              private_key:
                filename: /etc/envoy/pki/alpha/edge-key.pem
  clusters:
  - name: kubernetes_api_server
    connect_timeout: 30s
    type: LOGICAL_DNS
    load_assignment:
      cluster_name: kubernetes_api_server
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: node-0.k8s.alpha.belenot.com
                port_value: 6443
  - name: kubernetes_ambassador_http
    connect_timeout: 30s
    type: LOGICAL_DNS
    load_assignment:
      cluster_name: kubernetes_ambassador_http
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: node-0.k8s.alpha.belenot.com
                port_value: 30080
  - name: kubernetes_ambassador_https
    connect_timeout: 30s
    type: LOGICAL_DNS
    load_assignment:
      cluster_name: kubernetes_ambassador_https
      endpoints:
      - lb_endpoints:
        - endpoint:
            address:
              socket_address:
                address: node-0.k8s.alpha.belenot.com
                port_value: 30443
    transport_socket:
      name: envoy.transport_socket.tls
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
        common_tls_context:
          validation_context: {}
          tls_certificates:
          - certificate_chain:
              filename: /etc/envoy/pki/alpha/edge-cert.pem
            private_key:
              filename: /etc/envoy/pki/alpha/edge-key.pem