---
dependencies:
  - role: base
    vars:
      apt_repositories:
      - key: https://download.docker.com/linux/ubuntu/gpg
        repository: deb https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
      - key: https://packages.cloud.google.com/apt/doc/apt-key.gpg
      #  repository: deb https://apt.kubernetes.io/ kubernetes-{{ ansible_distribution_release }} main
        repository: deb https://apt.kubernetes.io/ kubernetes-xenial main
      - key: https://apt.releases.hashicorp.com/gpg
        repository: deb [arch=amd64] https://apt.releases.hashicorp.com focal main
      packages:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common
      - emacs
      - screen
      - python3-pip
      - git
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - zip
      - unzip
      - jq
      - kubectl
      - terraform
      - openjdk-8-jdk