---
apt_repositories:
- key: https://download.docker.com/linux/ubuntu/gpg
  repository: deb https://download.docker.com/linux/ubuntu lsb_release stable
git_private_key: '{{ lookup(''file'', ''git_private_key'') }}'
git_infrastructure_url: git@github.com:belenot/infrastructure.git
packages:
- apt-transport-https
- ca-certificates
- curl
- gnupg-agent
- software-properties-common
- emacs
- screen
- python3-pip
- git
- docker-ce
- docker-ce-cli
- containerd.io
- zip
- unzip
- jq
pip_packages:
- ansible
- boto3